/* Background */

body {
  background-color: #f4ece4;
  position: relative;
}

/* Flex boxes */

.box1 {
  background-color: #f4ece4;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;

  display: flex;
  flex-direction: row;
  align-items: center;

  height: 450px;
  width: 600px;
}

/* Product photo */

.photo-section {
  width: 50%;
}

.img-mobile {
  display: none;
}

.img-desktop {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* Product description */

.text-section {
  width: 50%;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.style1 {
  font-size: 0.875rem;
  font-style: normal;
  font-family: "Montserrat";
  font-weight: 500;
}

.style2 {
  font-style: normal;
  font-family: "Fraunces", serif;
  font-weight: 700;
}

#title1 {
  color: #69708c;
}

#title2 {
  color: #1c232b;
  line-height: 1;
  margin-bottom: 25px;
}

#text {
  color: #69708c;
  line-height: 1.8;
  margin-bottom: 25px;
}

#price1 {
  font-size: 2rem;
  color: #3c8067;
  margin-right: 10px;
}

#price2 {
  color: #69708c;
}

span {
  vertical-align: middle;
}

#buy-icon {
  margin-right: 8px;
}

.button {
  background-color: #3c8067;
  font-weight: 700;

  margin-top: 25px;
  width: 100%;
  height: 45px;
}

@media (max-width: 600px) {
  .box1 {
    padding: 0;
  }
  .box2 {
    flex-direction: column;
    align-items: center;

    width: 350px;
    height: 650px;
  }
  .img-desktop {
    display: none;
  }
  .img-mobile {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  .photo-section {
    height: 100%;
    width: 100%;
  }
  .text-section {
    height: 100%;
    width: 100%;
    padding: 25px 40px 25px 25px;
  }
  .button {
    margin-top: 20px;
  }
}

/* Footer */

.attribution {
  position: fixed;
  bottom: 5px;
  right: 5px;
  font-size: 0.875rem;
}
